body{
    background-color:  rgb(254, 250, 239) !important;
}

.quiz-card{
    width: 30rem;
}
.container{
    min-height: 100vh;
   background-color:  rgb(254, 250, 239) !important;
   display: flex;
   align-items: center;
   justify-content: center;
}

.question-footer{
    display: flex;
    justify-content: space-between;
}